body {
    background: url(background.jpg) no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 1000px 800px;
}

button#do {
    background-color: mediumaquamarine;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
button#do:hover,
button#do:focus {
    background: rgb(50, 128, 102);
}

button#do:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button#do:active {
    transform: scale(0.99);
}

button#word {
    background-color: gray;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
button#word:hover,
button#word:focus {
    background: rgb(87, 81, 81);
}

button#word:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button#word:active {
    transform: scale(0.99);
}

button#shape {
    background-color: tomato;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
button#shape:hover,
button#shape:focus {
    background: rgb(223, 56, 27);
}

button#shape:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button#shape:active {
    transform: scale(0.99);
}

p {
    margin-block-start: 5px;
    margin-block-end: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

canvas {
    border: 2px solid black;
    border-radius: 9px;
    cursor: url(painting.png), auto;
    float: left;
    background-color: white;
}

input {
    margin: 2px;
    padding: 10px;
    width: 200px;
    box-sizing: border-box;
}

input#font_size {
    margin: 1px;
    padding: 1px;
    width: 30px;
    box-sizing: border-box;
    border-radius: 9999px;
}

a {
    background-color: rgb(130, 245, 130);
    color: white;
    padding: 0.5em 1em;
    font-family: sans-serif;
    text-decoration: none;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    align-items: center;
}

a:hover,
a:focus {
    background: rgb(32, 165, 32);
}

a:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

a:active {
    transform: scale(0.99);
}

button {
    display: inline-block;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

#reset {
    display: inline-block;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0;
    text-decoration: none;
    background: rgb(238, 99, 99);
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#reset:hover,
#reset:focus {
    background: rgb(211, 50, 50);
}

#reset:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

#reset:active {
    transform: scale(0.99);
}

input[type=range] {
    -webkit-appearance: none;
    background: linear-gradient( rgb(220, 220, 220) 0%, rgb(220, 220, 220) 100%);
    background-position: center;
    background-size: 99% 4px;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    width: auto;
    height: 36px;
    border-radius: 1px;
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 5px;
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 5);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    background-color: #fff;
    pointer-events: none;
    border-radius: 3px;
    width: 16px;
    height: 16px;
    position: relative;
}

.rectangle {
    border: 1px solid;
    position: absolute;
}